
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/static/css/plants.css">
    <link rel="stylesheet" href="/static/css/content.css">
    <title></title>
</head>
<style>
    .car{
        padding: 10px;
        height: 40vh;
        width: 45vh;
        border-radius: 20px;
    
    }
</style>

<body>
    <header class="header">
        <div class="header-div">
            <b>B H U T E </b>
            <hr>
            <p class="para"  >C A R S</p>
            
        </div> 
    </header>
    <p></p>
    <div class="navbar">
        <nav>
            <a style="padding-right: 19px;padding-left: 19px; " href="../home.html"><strong>Home</strong></a>
            <a style="padding-right: 19px; "  href="../plants.html"><strong>Plants</strong></a>
            <a  style="padding-right: 19px; " href="../animals.html"><strong>Animals</strong></a>
            <a  style="padding-right: 19px; " href="../cars.html"><strong>Cars</strong></a>
            <a  style="padding-right: 19px; " href="../country.html"><strong>Country</strong></a>
        </nav>   
    </div>
    <p></p>    <div class="container">
        <div class="hed">
            <p class="pp">T e s l a  </p>
        </div>    
        <div class="content">
            <img class="car"src="/static/images/tes.jpg" alt="img">
            <hr>
        </div>
        <div style="text-align: left;padding: 20px;">
           <p>Tesla is an electric car founded in 2003. According to Tesla's website tesla's engineers wanted to prove that people didn’t need to compromise to drive electric – that electric vehicles can be better, quicker and more fun to drive than gasoline cars. Today, Tesla builds not only all-electric vehicles but also infinitely scalable clean energy generation and storage products. Tesla believes the faster the world stops relying on fossil fuels and moves towards a zero-emission future, the better.</p>
           <p>Tesla vehicles are produced at its factory in Fremont, California, and Gigafactory Shanghai. To achieve our goal of having the safest factories in the world, Tesla is taking a proactive approach to safety, requiring production employees to participate in a multi-day training program before ever setting foot on the factory floor. From there, Tesla continues to provide on-the-job training and track performance daily so that improvements can be made quickly. The result is that Tesla’s safety rate continues to improve while production ramps.</p>
        </div>
    </div>    
</body>
</html>