<!DOCTYPE html>
<html lang="en">
<head>    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/static/css/plants.css">
    <title>BHUTE</title>
</head>
<style>
    ul li a{
        color: white;
        transition-property: color,font-size;
        transition-duration: 0.1s;
        font-size: 5vh;

    }
    
    ul li a:hover {
        color: deeppink;
        font-size: 10.5vh;
    }
    
</style>
<body style="color: aliceblue;">
    <header class="header">
        <div class="header-div">
            <b>B H U T E </b>
            <hr>
            <p class="PLANTS">P L A N T S </p>
        </div> 
    </header>
    <p></p>
    <div class="navbar">
        <nav>
            <a style="padding-right: 19px;padding-left: 19px; " href="home.html"><strong>Home</strong></a>
            <a style="padding-right: 19px; "  href="plants.html"><strong>Plants</strong></a>
            <a  style="padding-right: 19px; " href="animals.html"><strong>Animals</strong></a>
            <a  style="padding-right: 19px; " href="cars.html"><strong>Cars</strong></a>
            <a  style="padding-right: 19px; " href="country.html"><strong>Country</strong></a>
        </nav>   
    </div>
    <div class="input">
        <input type="text" id="myinput" onkeyup="search()" placeholder="search for plants">
    </div>
            
        <div>
            <ul id="ul">
                <li><a href="plants/lily.html">Lily</a></li>
                <li><a  href="plants/alovera.html">Alovera </a></li>
                <li><a href="plants/bamboo.html">Bamboo</a></li>
                <li><a href="plants/mushroom.html">Mushroom</a></li>
            </ul>    
            <p id="p" style="color: aliceblue;"></p>
            <div id="mog">
                <p><img src="/static/images/mog.gif" alt=""></p>
            </div>
        </div>

    <script type="text/javascript" src="/static/js/plants.js"></script>
</body>
</html>