
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/static/css/plants.css">
    <link rel="stylesheet" href="/static/css/content.css">
    <title></title>
</head>

<body>
    <header class="header">
        <div class="header-div">
            <b>B H U T E </b>
            <hr>
            <p class="para"  >P L A N T S </p>
            
        </div> 
    </header>
    <p></p>
    <div class="navbar">
        <nav>
            <a style="padding-right: 19px;padding-left: 19px; " href="../home.html"><strong>Home</strong></a>
            <a style="padding-right: 19px; "  href="../plants.html"><strong>Plants</strong></a>
            <a  style="padding-right: 19px; " href="../animals.html"><strong>Animals</strong></a>
            <a  style="padding-right: 19px; " href="../cars.html"><strong>Cars</strong></a>
            <a  style="padding-right: 19px; " href="../country.html"><strong>Country</strong></a>
        </nav>   
    </div>
    <p></p>
    <div class="container">
        <div class="hed">
            <p class="pp">M u s h r o m  </p>
        </div>    
        <div class="content">
            <img src="/static/images/mush.jpg" alt="img">
            <hr>
        </div>
        <div style="text-align: left;padding: 20px;">
            <p><b>Mushrooms</b> are the fruit bodies of members of the order <b style="font-size: 17px;">Agaricales</b>.However, in modern molecularly defined classifications, not all members of the order Agaricales produce mushroom fruit bodies, and many other gilled fungi, collectively called mushrooms, occur in other orders of the class Agaricomycetes. For example, chanterelles are in the Cantharellales, false chanterelles such as Gomphus are in the Gomphales, milk-cap mushrooms (Lactarius, Lactifluus) and russulas (Russula), as well as Lentinellus, are in the Russulales, while the tough, leathery genera Lentinus and Panus are among the Polyporales, but Neolentinus is in the Gloeophyllales, and the little pin-mushroom genus, Rickenella, along with similar genera, are in the Hymenochaetales.
            </p>
            <p>Within the main body of mushrooms, in the Agaricales, are common fungi like the common fairy-ring mushroom, shiitake, enoki, oyster mushrooms, fly agarics and other Amanitas, magic mushrooms like species of Psilocybe, paddy straw mushrooms, shaggy manes, etc.
            </p>
            <p>Popularly, the term mushroom is used to identify the edible umbrella-shaped fruiting body(sporophores); the term toadstool is often reserved for inedible or poisonous sporophores. There is, however, no scientific distinction between the two names, and either can be properly applied to any fleshy fungus fruiting structure. In a very restricted sense, mushroom indicates the common edible fungus of fields and meadows (Agaricus campestris). A very closely related species, A. bisporus, is the mushroom grown commercially and seen in markets.
            </p>
        </div>
    </div>
</body>
</html>